:root {
  --accent-color: #717171;
  --gray-color: #f3f3f3;
  --dark-color: #212529;
  --light-color: #f8f9fa;
  --white-color: #fff;
  --black-color: #000;
  --light-gray-color: #d7dddf;
  --gray-color-500: #aeaeae;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  :root {
    --header-height: 100px;
    --header-height-min: 80px;
  }
}

:root {
  --body-font: "Lato", sans-serif;
  --heading-font: "Jost", sans-serif;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-family: var(--body-font);
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

/* 
  ### Custom Scrollbar ### 
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--accent-color);
}

::-webkit-scrollbar-thumb {
  background: var(--black-color);
  border-radius: 10px;
  border: 1px solid var(--gray-color-500);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-color-500);
  border: 1px solid var(--black-color);
}

/* 
  ### Typography ### 
*/
.bg-gray {
  background: var(--gray-color);
}

.bg-dark {
  background: var(--dark-color);
}

.bg-light {
  background: var(--light-color);
}

.bg-white {
  background: var(--white-color);
}

.bg-black {
  background: var(--black-color);
}

.padding-xsmall {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.padding-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-medium {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}

.padding-xlarge {
  padding-top: 9.5em;
  padding-bottom: 9.5em;
}

/*
  ### Navbar ###
*/
.nav-logo {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 600px) {
  .nav-logo {
    width: 150px;
    height: 150px;
  }
}

.navbar {
  font-family: var(--body-font);
}

.navbar-nav {
  margin-left: auto;
}

#dropdown-basic {
  color: var(--gray-color-500);
  font-family: var(--body-font);
  padding: 0.5em;
  margin-right: 24px;
  border: none;
}

#dropdown-basic:hover {
  background-color: transparent;
  color: var(--gray-color-500);
}

@media screen and (max-width: 600px) {
  #dropdown-basic {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.dropdown-menu {
  background-color: var(--white-color);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: var(--gray-color-500);
  font-family: var(--body-font);
  padding: 0.5em;
  border: none;
}

.dropdown-item:hover {
  background-color: var(--gray-color);
  color: var(--black-color);
}

.dropdown-item:focus {
  background-color: var(--gray-color);
  color: var(--black-color);
}

.dropdown-item:active {
  background-color: var(--accent-color) !important;
}

/*
  ### Preloader ###
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 99999;
}

.loader {
  border: 16px solid var(--accent-color);
  border-top: 16px solid var(--black-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

.hidden {
  animation: fadeOut 0.5s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/*
  ### Ratings ###
*/
.fa-star {
  color: gray;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
  font-size: 20px;
}

.fa-star.checked {
  color: gold;
}

/*
  ### Products ###
*/
.product-card {
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

/*
  ### Footer ###
*/
.footer-header {
  font-size: 1.5em;
}

.footer-social-link {
  margin-right: 1em;
  font-size: 1.5em;
  color: var(--gray-color-500);
}
